body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #D2F5C6;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px;
    font-size: large;
    font-weight: bold;
    background-color: #EDEBA0;
}
header > div {
    flex: 1;
    text-align: center;
    max-width: 40%;
    padding: 10px;
    color: white;
    background-color: #C3C48D;
    border: 0.5px solid #A0A0A0;
    border-radius: 10px;
    word-spacing: 10px;
    letter-spacing: 5px;
}
header > div:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s;
}
header p {
    background-color: #C3C48D;
}

.input {
    display: flex;
    justify-content: center;
}
#todo-input {
    align-self: center;
    margin: 20px 20px;
    padding: 10px;
    border: 1px solid #A0A0A0;
    background-color: #D3FAD6;
    border-radius: 5px;
    width: 80%;
    font-size: medium;
    color: #333;
}
#add-task-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px 20px;
    height: 50px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    transition: background-color 0.3s;
}
#add-task-button:hover {
    background-color: #4b7f5c;
    transform: scale(1.05);
    transition: transform 0.3s, background-color 0.3s;
}

.list-of-tasks {
    margin: 20px;
    padding: 10px;
    background-color: #D1EFB5;
}
.list-of-tasks ul {
    list-style-type: none;
    padding: 0;
}
.list-of-tasks li {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #E0F2D4;
    border-radius: 5px;
}
.list-of-tasks .task-item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 10px;}

#task > button {
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: medium;
}
.task-item > #button-delete {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: medium;
}
.task-item > #button-delete:hover {
    background-color: darkred;
    transform: scale(1.05);
    transition: transform 0.3s, background-color 0.3s;
}
#task > button:hover {
    background-color: #4b7f5c;
    transform: scale(1.05);
    transition: transform 0.3s, background-color 0.3s;
}